
@font-face {
    font-family: 'Lifehack';
    src: url('../fonts/Lifehack Medium.otf');
    src: url('../fonts/Lifehack Medium.otf') format('otf'),
    url('../fonts/Lifehack Medium.otf') format('woff2'),
    url('../fonts/Lifehack Medium.otf') format('woff'),
    url('../fonts/Lifehack Medium.otf') format('truetype'),
    url('../fonts/Lifehack Medium.otf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/Gagalin/Gagalin-Regular.otf');
    src: url('../fonts/Gagalin/Gagalin-Regular.otf') format('otf'),
    url('../fonts/Gagalin/Gagalin-Regular.otf') format('woff2'),
    url('../fonts/Gagalin/Gagalin-Regular.otf') format('woff'),
    url('../fonts/Gagalin/Gagalin-Regular.otf') format('truetype'),
    url('../fonts/Gagalin/Gagalin-Regular.otf') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-B.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;

}

