
@font-face {
    font-family: 'Lifehack';
    src: url('../fonts/Lifehack Medium.otf');
    src: url('../fonts/Lifehack Medium.otf') format('otf'),
    url('../fonts/Lifehack Medium.otf') format('otf');
    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/Gagalin/Gagalin-Regular.otf');
    src: url('../fonts/Gagalin/Gagalin-Regular.otf') format('otf'),
    url('../fonts/Gagalin/Gagalin-Regular.otf') format('otf');
  
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf') format('ttf'),
     url('../fonts/Ubuntu/Ubuntu-Light.ttf') format('woff2'),
     url('../fonts/Ubuntu/Ubuntu-Light.ttf') format('woff'),
     url('../fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype'),
     url('../fonts/Ubuntu/Ubuntu-Light.ttf') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
     src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('woff2');
   
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-B.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;

}

