// .presentation{
//   background-image: linear-gradient(to top bottom, #f9b43b, #eb8d38, #f9b43b);
// }

.presentation{
  background: linear-gradient( to top, $yellow, #eb8d38, $yellow);

}

.content__right_desc{
  color: #fff;
  font-size: 14px;
}

.content__right_title_slider{
  color: #fff ;
} 