.best{
  background: url(../img/content/section2-BG.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.best__content{
  text-align: center;


}

.best__content_text{
  color: #2f3234;
  font: 72px/72px "Gagalin";
  padding-bottom: 80px;
}

.advantages{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

   
}

.advantage__img{
  margin-bottom: 34px;
  vertical-align: bottom;
}

.advantage__title{ 
  font: 24.12px/24.12px "Lifehack";
}

.advantage__text {
  

}
